
@model IEnumerable<UserEntity>


@{
    ViewData["Title"] = "Fetching data from WebAPI";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Id")
            </th>

            <th>
                @Html.DisplayName("FullName")
            </th>

            <th>
                @Html.DisplayName("Email")
            </th>

            <th>
                @Html.DisplayName("Phone")
            </th>

            <th>
                @Html.DisplayName("Address")
            </th>
        </tr>
    </thead>
    <tbody>


        @foreach (var row in Model)
        {
            <tr>
                
                <td>
                    @row.FullName 
                </td>
                <td>
                    @row.Email
                </td>
                <td>
                    @row.Phone
                </td>
                <td>
                    @row.Address
                </td>
            </tr>
        }
    </tbody>

</table>